/*********************************home-bnr************************/





body{
	font-family: 'Teko', sans-serif;
  letter-spacing: 3px !important;
  background-color: black;
}

.bnr-img{
	height: 570px !important;
}

.carousel-h3{
	font-size: 5rem !important;
}

.gold{
	color: #8D8059;
}

.carousel-btn{
	background: black;
	color: white;
	border: 4px solid #8D8059;
	text-decoration: none;
}

.carousel-btn:hover{
  background:#8D8059 ;
  color: black !important;
  border: 5px solid white;
  transition: .5s;
}

/*****************************navbar******************************/
.navbar-light .navbar-toggler {
   
    /*border-color: rgba(0,0,0,.1);*/
    background: #8d8059 !important;
    border-radius: 2px;
}

.navbar-light .navbar-toggler-icon {
/*   background-image: url('../assets/images/t.png');*/
    background-color: #8d8059;
}


.navbar{
	position: fixed;
	z-index: 1;

}
.navbar-light .navbar-nav .nav-link {
    color: #e2e2e2 !important;

}
.navbar-light .navbar-nav .nav-link:hover{
  color: #96885F !important;

}


.dropdown-menu li {
position: relative;

}

.dropdown-menu li a:hover{
  background-color: black !important;
}

.dropdown-menu .dropdown-submenu {
display: none;
position: absolute;
left: 100%;
top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
right: 100%;
left: auto;
}

.dropdown-menu > li:hover > .dropdown-submenu {
display: block;
}
/********************************************nav hover*********************************************/
.dropdown:hover>.dropdown-menu {
  display: block;
  background-image: none !important;
  
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
    background-color: black !important;
    
}
.nav-item a{
     font-weight: 600;
     letter-spacing: 1px;

	
}
.dropdown-menu .dropdown-item > li > a:hover {
  background-image: none !important;
  background-color: black !important;
}
.nav-item a:hover {
    color: #96885F !important;
    background-color: none !important;
    background-image: none !important;
    transition: .5s;
}

/************************************section-1************************/
.section-1 {
    background-color: black;
}


.section-img-1 {
    background-image: url(../images/i1.jpg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-img-2 {
    background-image: url(../images/sec-1.jpg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-img-3 {
    background-image: url(../images/i7.jpg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-img-3:hover , .section-img-1:hover , .section-img-2:hover{
	border: 8px solid #96885F !important;
	transition: .5s;
	opacity: .8;
}

.sec-img-1{
	margin-top: 8rem !important;
}
.sec-img-2{
	margin-top: 8rem !important;
}
.sec-img-3{
	margin-top: 8rem !important;
}

/********************************service*********************************/
.service{
	background-color: black;
}

.service-h2{
	font-size: 4rem !important;
}

.gold{
	color:#96885F ;
}




/***********************work***************************************/
.work{
	background-image: url(../images/i2.jpg);
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: text;
    color: transparent;

}

.work-content{
	margin-top: 3rem !important;
}

.work-h2{
	font-size: 4.5rem !important;
}

/************************************team**********************/
.team{
  background-color: black;
}

.team-h2{
	font-size: 4rem !important;
}
/**/
.container-img {
  position: relative;
  
}

.image {
  display: block;
  width: 100%;
  height: 360px;
  object-fit: cover;
  border: 6px solid #96885F;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background:rgba(0,0,0,0.6);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container-img:hover .overlay {
  bottom: 0;
  height: 100%;
  border: 6px solid white;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*****************************come**************************************/
.come{
	background-color: black;
}

.come-sec{
	background-color:#96885F ;
	height: 530px;
	border: 6px solid white;
}

.come-h2 {
    font-size: 4rem;
 }

 .come-content {
    margin-top: 7.5rem;
}

.come-btn{
  background: black;
	color: white;
	border: 4px solid white;
	text-decoration: none;
}


.come-btn:hover{
  background:#8D8059 ;
  color: black !important;
  border: 4px solid black;
  transition: .5s;
}

/***************************contact**************************************/
 .contact{
  background-color: black;
 }

 .contact-sec {
    background:#2a2929 ;
    transition: .5s;
}

.contact-sec:hover{
   background-color: black;

}

.contact-btn {
    text-decoration: none;
    color: #e2e2e2;
    background: black;
        border: 4px solid #96885f;
}

.contact-btn:hover{
  background-color:  #96885f;
  color:black ;
   border: 4px solid white;
  
}
.borderr {
    
    border-left: 8px solid black;
    border-right: 8px solid black;
}

/*********************************footer********************************/
.ser-footer{
  background-color: black;
 }
   .call{
  text-decoration: none;
  color: #5a5959 !important;
 }
 .color{
  color: #5a5959 !important;
 }
 .icon1{
  color:#96885f !important;
 }
 .footer{
  background-color: black;
 }
 .right-box {
    background-color: #96885F;
    transition: 0.5s ease-out;
    border: 2px solid white !important;
}
.right-box:hover {
  margin-top: -15px;
  background-color: black;
  border-color:#96885F !important ;
}
.right {
    position: fixed;
    top: 93%;
    right: 2%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*social-media*/
.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #96885f;
  color: white;
 /* border-radius: 50%;*/
  padding: 26px;
  margin: 4px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
  transition: .5s;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
  transition: .5s;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
  transition: .5s;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
  transition: .5s;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
  transition: .5s;
}

/*li a{
    color: black;
}*/
